{% if page.layout-data == 'blog' %}
    {% assign blogon = true %}
{% endif %}
<div class="container">
    {% include side-mobile.html %}
    <div class="row">
        <div class="{{ include.defalign }}">
            <div class="panel panel-default">
                {% if page.title %}
                    <div class="panel-heading">
                        <h3 class="panel-title"{% if blogon %} style="text-align: center"{% endif %}>{{ page.title }}</h3>
                    </div>
                {% endif %}
                <div class="panel-body">
                    {{ content }}
                </div>
            </div>
        </div>
        {% if blogon == null %}
            <div class="{{ include.sidealign }} hidden-xs">
                {% include posts-list.html %}
            </div>
        {% endif %}
  </div>
</div>
{% include footer.html %}
