<head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet"
      media="screen"
      href="/_stylesheets/slate.min.css"
      type="text/css" />
    <!-- extra CSS for proper search bar -->
    <link rel="stylesheet"
      media="screen"
      href="/_stylesheets/fixsearchbar.css"
      type="text/css" />
    <!-- Latest compiled and minified JavaScript -->
    {% include firebase_start.html %}
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
