---

---

<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet"
      media="screen"
      href="/_stylesheets/slate.min.css"
      type="text/css" />
  </head>
  <body>
    {{ content }}
    {% include footer.html %}
  </body>
</html>